
vehicles_smallset/cars3/

vehicles_smallset/cars2/

vehicles/KITTI_extracted/

vehicles_smallset/cars1/

vehicles/GTI_Right/

non-vehicles/

non-vehicles_smallset/

vehicles/

__MACOSX/

\.ipynb_checkpoints/

video_result_time_thresholding_2\.mp4

video_result_thresholding_tail\.mp4

*.zip

corner-case2\.png

__pycache__/

video_result_time_thresholding\.mp4

video_copied\.ipynb

video_result_no_thresholding\.mp4

video_result_thresholding_med\.mp4

video_result_thresholding_short\.mp4

video_result_thresholding\.mp4

results_YCrCb_cspace\.png

svc_pickle_Y\.p

bbox_custom_pickle\.p

colorspace\.ipynb

corner-case\.png

project_video_short\.mp4

project_video_tail\.mp4
