
vehicles_smallset/cars3/

vehicles_smallset/cars2/

vehicles/KITTI_extracted/

vehicles_smallset/cars1/

vehicles/GTI_Right/

non-vehicles/

non-vehicles_smallset/

vehicles/

__MACOSX/

\.ipynb_checkpoints/

video_result_time_thresholding_2\.mp4

video_result_thresholding_tail\.mp4

*.zip
